<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>오늘의영화</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="stylesheet" th:href="@{/css/sections/boxoffice.css}">
    <link rel="stylesheet" th:href="@{/css/sections/showtime.css}">
    <link rel="stylesheet" th:href="@{/css/sections/cinema.css}">

</head>
<body class="min-h-screen flex flex-col">

<header th:replace="fragments/components/header :: site-header"></header>

<main id="main" class="flex-grow">

    <div class="max-w-6xl mx-auto px-4">
        <!--replace와 insert 차이 주의 replace는 fragment를 사용한 태그를 날려버림 둘다 사용하고 싶다면 insert-->
        <section id="boxoffice" class="page-section"
                 th:insert="fragments/sections/boxoffice :: boxoffice"></section>

        <section id="cinema" class="page-section"
                 th:insert="fragments/sections/cinema :: cinema"></section>

        <section id="map" class="page-section"
                 th:insert="fragments/sections/map :: map"></section>
    </div>

</main>

<footer th:replace="fragments/components/footer :: site-footer"></footer>

<script th:src="@{/js/app.js}" type="module" defer></script>

</body>
</html>